# END336 ÖDEV 02

# Kurallar 
### 1) Dosya adında OgrenciNo kısmında yazan bölüme öğrenci numaranızı yazınız. 
### 2) Notebook içerisindeki ilgili boşluklara kodlarınızı yazınız.  
### 3) Dosyayı sıkıştırarak sisteme yükleyiniz.   
### 4) Sisteme zamanında yüklenmeyen ve maille yollanan ödevler kabul edilmez.   
### 5) Ödev bireyseldir.

In [1]:
# Bu alanı çalıştırarak  verisetinin data isimli değişkene atanmasını sağlayınız.  
import pandas as pd 
import numpy as np

data = pd.read_csv('https://s3-eu-west-1.amazonaws.com/shanebucket/downloads/uk-500.csv')
data['numara'] = [np.random.randint(0,1000) for x in range(data.shape[0])]
 
data.head()

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,numara
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,598
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,306
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,679
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,939
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,377

In [2]:
# Soru 1: Sütun isimlerini sırasıyla isim, soyisim, firma_adi, adres, sehir, ilce, posta_kodu, tel1, tel2, eposta, web_sitesi, id olarak değiştiriniz. 
data = data.rename(columns={
    "first_name" : "isim", 
    "last_name" : "soyisim",
    "company_name" : "firma_adi", 
    "address" : "adres", 
    "city" : "sehir", 
    "county" : "ilce",
    "postal" : "posta_kodu", 
    "phone1" : "tel1",
    "phone2" : "tel2",
    "email" : "eposta",
    "web" : "web_sitesi",
    "numara" : "id"
})

In [3]:
# Soru 2: numara isimli sütunu isim sütununun soluna taşıyınız. 
sutunlar = list(data.columns) #ipucu: sutunlar listesi uzerinde degisiklikler yaparak data = data[sutunlar] seklinde cozebilirsiniz. 
data = data[["id","isim", "soyisim", "firma_adi", "adres", "sehir", "ilce", "posta_kodu", "tel1", "tel2", "eposta", "web_sitesi"]]
data

,id,isim,soyisim,firma_adi,adres,sehir,ilce,posta_kodu,tel1,tel2,eposta,web_sitesi
0,598,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,306,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,679,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,939,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,377,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...
495,445,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,804,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,882,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,267,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,624,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [4]:
# Soru 3: Dataframe'in 1., 4., 7., 25. satır ve 1., 6.  7. sütunlarını getiriniz.
# (getirelecek dataframede 4 satır ve 3 sütun olacaktır)
data.iloc[[1,4,7,25],[1,6,7]]

       isim             ilce posta_kodu
1      Evan  Buckinghamshire   HP11 2AX
4    Tyisha    West Midlands    B70 9DT
7   Laquita      Tyne & Wear   NE29 7AD
25  Leonard    Western Isles    HS1 2PZ

In [5]:
# Soru 4: firma_adi sütunundaki son 20 kaydı getiriniz
data["firma_adi"].loc[:len(data)-20:-1]

499    Nelson Wright Haworth Golf Crs
498          Bfg Federal Credit Union
497                Furey & Associates
496              Fitzgerald, Edward J
495        Plaza Gourmet Delicatessen
494      Nelsons Trmt & Pest Cntrl Co
493                    Cia Inspection
492              Donald, G Nelson Esq
491                     Lindner Funds
490                 Jurdem, Scott Esq
489             Harris Oldsmobile Inc
488                    Howard Johnson
487      Rock Springs Petroleum Equip
486                 T C E Systems Inc
485                   Country Kitchen
484              Great Clips For Hair
483           Proto Tek Manufacturing
482                 Keller, Raymond C
481      Alliance Construction Co Inc
480            Schwartz, Thomas E Esq
Name: firma_adi, dtype: object

In [6]:
data.set_index("soyisim", inplace=True) # indexin düzenlenmesi (bu satırı yalnızca 1 kez çalıştırın)

In [7]:
# Soru 5: indexleri düzenlenen dataframe üzerinde "Lin" indexli satırı getiriniz
data.loc["Lin",:]

id                                                401
isim                                            Kenny
firma_adi                  Mcmahan Mcmahan & Brinkley
adres                                     1 Towson St
sehir                  Howe of Fife and Tay Coast War
ilce                                             Fife
posta_kodu                                   KY14 6AH
tel1                                     01753-900033
tel2                                     01473-417906
eposta                                kenny@lin.co.uk
web_sitesi    http://www.mcmahanmcmahanbrinkley.co.uk
Name: Lin, dtype: object

In [8]:
# Soru 6: Satırları'Andrade' ve 'Veness', sütunları ise sehir ve eposta arasindaki tüm sütunlar olan veri çerçevesini (dataframe) getiriniz.
data.loc[["Andrade", "Veness"], "sehir" : "eposta"]

,sehir,ilce,posta_kodu,tel1,tel2,eposta
soyisim,,,,,,
Andrade,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com
Veness,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com

In [9]:
# Soru 7: İsmi Antonio olan kişilerin eposta adreslerini getiriniz. 
data.loc[data["isim"] == "Antonio","eposta"]

soyisim
Villamarin       antonio.villamarin@gmail.com
Glasford      antonio_glasford@glasford.co.uk
Heilig               antonio.heilig@gmail.com
Name: eposta, dtype: object